body {
    font-family: Arial;
    background-color: #f8f8f8;
    text-align: center;
    box-sizing: border-box; /* So the elements would not be larger than the parent */
}

#converterForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
}

textarea, pre {
    width: 600px;
    height: 200px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    resize: none;
}

pre {
    height: auto;
    margin: 24px auto;
    text-align: left;
}

button {
    margin-top: .8rem;
    padding: .6rem;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s;
}

button:hover {
    background-color: #0069d9;
}