body {
    background-color: #178d3e;
    padding-top: 2rem;
}

.quote {
    font-family: Helvetica;
    font-size: 1.6rem;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #fff;
    border-radius: 4px;
}

.quote .text {
    font-style: italic;
    margin-bottom: .4rem;
    color: #fff;
}

.quote .author {
    font-weight: bold;
    color: #133110;
}

.quote .button {
    font-size: 20px;
    background-color: #0a2c07;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color .3s ease;
}

.button:hover {
    background-color: #12520c;
}